/* src/components/Contacto.css */

.contacto-container {
    padding: 20px;
  }
  
  .contacto-form {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .contacto-info {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .submit-btn {
    margin-top: 20px;
  }
  
  .map-container {
    width: 100%;
    height: 400px; /* Altura del mapa */
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .map {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 768px) {
    .contacto-form,
    .contacto-info {
      margin-bottom: 20px;
    }
  }
  