.dashboard-container {
  padding-top: 20px;
  padding-bottom: 60px; /* Ajusta según la altura de tu footer */
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}
