.dashboard-container {
  padding-top: 20px;
  padding-bottom: 60px; /* Ajusta según la altura de tu footer */
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
}

.custom-table th {
  width: 10%; /* Ancho personalizado para las columnas */
}

.custom-table td {
  max-width: 20%; /* Ancho máximo para el contenido de las celdas */
  overflow: hidden; /* Oculta el contenido que se desborde del ancho máximo */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) cuando el contenido se desborde */
  white-space: nowrap; /* Evita el salto de línea del contenido */
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.dashboard-container {
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 250px;
}

.dashboard-container.sidebar-closed {
  margin-left: 0;
}

.toggle-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
  color: #343a40;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}